// ========================================
// variables
// ========================================

$default-font: 'Lato', sans-serif;

$white: #fff;
$gray: #131724;
$black: #000;

$transition-primary: 300ms ease-in-out;
